%ul#menu
  %li
    %a{:href => "#"} What's new?
    %ul.active
      %li
        %a{:href => "#"} Weekly specials
      %li
        %a{:href => "#"} Last night's pics!
      %li
        %a{:href => "#"} Users' comments
  %li
    %a{:href => "#"} Member extras
    %ul
      %li
        %a{:href => "#"} Premium Celebrities
      %li
        %a{:href => "#"} 24-hour Surveillance
  %li
    %a{:href => "#"} About Us
    %ul
      %li
        %a{:href => "#"} Privacy Statement
      %li
        %a{:href => "#"} Terms and Conditions
      %li
        %a{:href => "#"} Contact Us          