%footer  
  %h4 Ready? Share it!
  %button.btn.btn-info{:href =>"#"}  Facebook
  %button.btn.btn-warning{:href =>"#"}  Twitter
  %p=link_to 'My TeachUp!', {:controller => "pages", :action => "proyecto1"} , {:class => "btn btn-success", :style => "margin-top: 5px;"}