%nav
  %ul{:style => "background: none repeat scroll 0 0 #000000; color: #FFFFFF; font-weight: bold; margin-top: 200px; padding-left: 10px; width: 2000px"} 
    %li
      %a{:href => "http://localhost:3000/pages/video"} 
        .element 
    %li
      %a
        .element element2
    %li
      %a
        .element element3
    %li
      %a
        .element element4
    %li
      %a
        .element element5
    %li
      %a
        .element element6