%h1 TeachUp
%h3 Spreadsheet Document
%p
%row
  
%p{:style => "float:right ;  margin-top: 370px; margin-right: 30px"}=link_to 'Presentation Ready!', {:controller => "pages", :action => "home2"} , {:class => "btn btn-success"}

%row
  .btn-group
    %a.btn{:href => "#"}
      %i.icon-facetime-video
    %a.btn{:href => "#"}
      %i.icon-pause
    %a.btn{:href => "#"}
      %i.icon-stop
    %span  
      

%span