%h1 TeachUp!
%h3 Just record your next idea 
:css
  .container
    .row
%row{:style => "position:relative"}
%row 
  .sitio{:style => "background: none repeat scroll 0 0 #000000; color: #FFFFFF; font-weight: bold; margin-top: 200px; padding-left: 10px; position:relative; width: 2000px"} Timeline
  %a{:href => "http://localhost:3000/pages/video"}
    .element1{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; position:fixed; left:200px ; top:300px"} 
      %img{:src => "http://i2.ytimg.com/vi/uhxtUt_-GyM/default.jpg", :alt => "Thumbnail"}

  .element2{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; position:fixed; left:400px ; top:300px"} 
    %iframe{:allowfullscreen => "true", :frameborder => "0", :height => "100", :mozallowfullscreen => "true", :src => "https://docs.google.com/presentation/embed?id=1b6okmGFmOC6njQH8LRi1UC2Vo2X2bmuNZjuMhj77FuE&start=false&loop=false&delayms=60000", :webkitallowfullscreen => "true", :width => "100"}

  .element3{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; position:fixed; left:600px ; top:300px"} 
    %img{:src => "https://encrypted-tbn1.google.com/images?q=tbn:ANd9GcSdv4pIJ1XwtdDuACno9zf5BmYaqFfguvOWbpbWnlQHPduUyavxzw", :alt => "Thumbnail"} 
  %a{:href => "https://www.google.com/fusiontables/DataSource?snapid=S463783ysHF"}
    .element4{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; position:fixed; left:800px ; top:300px"} element4

  .element5{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; position:fixed; left:1000px ; top:300px"} element5

  .element6{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; position:fixed; left:1200px ; top:300px"} element6
%span


= render 'partials/footer'