%header.jumbotron.masthead  
  %h1 TeachUp!
  %h2 Just record your next idea
  %p.download-info
    .demo
      #droppable.ui-widget-header{}
        %a.btn.btn-primary.btn-large{:href => "http://localhost:3000/pages/proyecto1/"} Teacher!
      #draggable.ui-widget-content
        %a.btn.btn-large{:href => "http://localhost:3000/pages/vistaalumno/" , }
          Student!
        
:javascript
  $(function() {
  	$( "#draggable" ).draggable();
  	$( "#droppable" ).droppable({
  		drop: function( event, ui ) {
  			$( this )
  				.addClass( "ui-state-highlight" )
  				.find( "p" )
  				.html( "Dropped!" );
  		}
  	});
  });