%iframe{:allowfullscreen => "true", :frameborder => "0", :height => "500", :mozallowfullscreen => "true", :src => "https://docs.google.com/presentation/embed?id=1b6okmGFmOC6njQH8LRi1UC2Vo2X2bmuNZjuMhj77FuE&start=false&loop=false&delayms=60000", :webkitallowfullscreen => "true", :width => "700"}

%p= link_to 'Ready', {:controller => "pages", :action => "home3"} , {:class => "btn primary large"}