%h1 Projects
.row{:style => "position:fixed; left:100px ; top:200px"}
  .span5
    %h2{:syle => "margin-bottom: 40px"} Calculo 1
    .element2{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; "} Proyect1
    %ul
      %li
        %a
          view
      %li
        %a
          edit
    %a.btn.btn{:href => "/pages/home1", :style => "margin-top: 5px;"} New Proyect
    
  .span3
    %h2{:syle => "margin-bottom: 40px"} Calculo 2
    .element2{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; "} Proyect1
    %ul
      %li
        %a
          view
      %li
        %a
          edit
    .element2{:style => "background: none repeat scroll 0 0 #999999; color: #000000; font-weight: bold; padding-left: 10px; position:relative; border-style:solid; border-width:medium; border-color:#666666; width:100px; height:60px; -webkit-border-radius: 5px; "} Proyect2
    %ul
      %li
        %a
          view
      %li
        %a
          edit
    %a.btn.btn{:href => "/pages/home1", :style => "margin-top: 5px;"} New Proyect
